<%= task.hidden_field :user_id, value: current_user.id %>

<div>
  <div>
    <div><%= t('.task') %></div>
    <div><%= task.text_field :name %></div>
  </div>
  <div>
    <div><%= t('.label') %></div>
    <div><%= task.collection_select :label_id, @labels, :id, :name, prompt: t('.select_label') %></div>
  </div>
  <div>
    <div><%= t('.priority') %></div>
    <div><%= task.collection_select :priority_id, @priorities, :id, :name, prompt: t('.select_priority') %></div>
  </div>
  <div>
    <div><%= t('.status') %></div>
    <div><%= task.collection_select :status_id, @statuses, :id, :name, prompt: t('.select_status') %></div>
  </div>
  <div>
    <div><%= t('.time_limit') %></div>
    <div><%= task.datetime_field :time_limit %></div>
  </div>
  <div>
    <div><%= t('.description') %></div>
    <div><%= task.text_area :description %></div>
  </div>
</div>

<div>
  <%= task.submit %>
</div>
