<%= stylesheet_link_tag "tasks" %>

<%= flash[:notice] if flash[:notice].present? %>

<h1><%= t('.task_list') %></h1>

<p><%= link_to t('.transition_label_index'), labels_path %></p>

<p><%= link_to t('.transition_create'), new_task_path %></p>

<div class="search-form">
  <%= form_with url: search_tasks_path, method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit t('.search') %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('.task') %></th>
      <th><%= t('.label') %></th>
      <th><%= create_sort_link (:"priorities.priority"), t('.priority') %></th>
      <th><%= t('.status') %></th>
      <th><%= create_sort_link (:time_limit), t('.time_limit') %></th>
      <th><%= t('.created_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.label&.name %></td>
        <td><%= task.priority.name %></td>
        <td><%= task.status.name %></td>
        <td class='time-limits'><%= task.time_limit %></td>
        <td class='created-date'><%= task.created_at %></td>
        <td><%= link_to t('.transition_detail'), task %></td>
        <td><%= link_to t('.transition_edit'), edit_task_path(task) %></td>
        <td><%= link_to t('.delete_label'), task, method: :delete, data: { confirm: t('.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
