<h1 class='fw-bold mb-3'><%= t('.task_create') %></h1>

<%= flash[:alert] if flash[:alert].present? %>

<%= render partial: 'error_message', locals: { task: @task } %>

<%= form_with(model: @task, url: { action: "create" }) do |task| %>
  <%= render partial: 'form', locals: { task: task } %>
<% end %>
