<h1>タスク作成</h1>

<%= form_for(@task, :url => {:action => 'create'} ) do |task_form| %>
  <%#= render :partial => 'error_message' %>

  <%# TODO: ログイン機能実装後、ログインIDを value に持たせる %>
  <%= task_form.hidden_field :user_id, :value => 1 %>

  <table>
    <tr>
      <td><%= task_form.label :タスク %></td>
      <td><%= task_form.text_field :name %></td>
    </tr>
    <tr>
      <td><%= task_form.label :優先度 %></td>
      <td><%= task_form.collection_select :priority_id, @priority, :id, :priority, :prompt => "優先度を選択" %></td>
    </tr>
    <tr>
      <td><%= task_form.label :終了期限 %></td>
      <td><%= task_form.datetime_field :time_limit %></td>
    </tr>
    <tr>
      <td><%= task_form.label :ステータス %></td>
      <td><%= task_form.collection_select :status_id, @status, :id, :status, :prompt => "ステータスを選択" %></td>
    </tr>
    <tr>
      <td><%= task_form.label :説明 %></td>
      <td><%= task_form.text_area :description %></td>
    </tr>
    <tr>
      <td><%= task_form.label :ラベル %></td>
      <%= fields_for @label do |label_form| %>
        <td><%= label_form.text_field :label%></td>
      <% end %>
    </tr>
  </table>
  <%= task_form.submit "登録" %>
<% end %>
