<h1><%= t('.task_detail') %></h1>

<table>
  <tr>
    <th><%= t('.task') %>：</th>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th><%= t('.label') %>：</th>
    <td><%= @task.label&.name %></td>
  </tr>
  <tr>
    <th><%= t('.priority') %>：</th>
    <td><%= @task.priority.name %></td>
  </tr>
  <tr>
    <th><%= t('.status') %>：</th>
    <td><%= @task.status.name %></td>
  </tr>
  <tr>
    <th><%= t('.time_limit') %>：</th>
    <td><%= @task.time_limit %></td>
  </tr>
  <tr>
    <th><%= t('.description') %>：</th>
    <td><%= @task.description %></td>
  </tr>
</table>
