<h1>タスク詳細</h1>

<table>
  <tr>
    <th>タスク：</th>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th>ラベル：</th>
    <td><%= @task.label&.name %></td>
  </tr>
  <tr>
    <th>優先度：</th>
    <td><%= @task.priority.name %></td>
  </tr>
  <tr>
    <th>ステータス：</th>
    <td><%= @task.status.name %></td>
  </tr>
  <tr>
    <th>終了期限：</th>
    <td><%= @task.time_limit %></td>
  </tr>
  <tr>
    <th>説明：</th>
    <td><%= @task.description %></td>
  </tr>
</table>
