<head>
  <style>
    ul, li{
      list-style-type: none
    }
    li {
      display: flex
    }
  </style>
</head>

<h1>タスク詳細</h1>

<ul>
  <li>
    <p>タスク：</p>
    <p><%= @tasks.name %></p>
  </li>
  <li>
    <p>優先度：</p>
    <p><%= @tasks.priority.priority %></p>
  </li>
  <li>
    <p>終了期限：</p>
    <p><%= @tasks.time_limit %></p>
  </li>
  <li>
    <p>ステータス：</p>
    <p><%= @tasks.status.status %></p>
  </li>
  <li>
    <p>説明：</p>
    <p><%= @tasks.description %></p>
  </li>
</ul>
