<h1><%= t('.task_detail') %></h1>

<div>
  <div>
    <div><%= t('.task') %>：</div>
    <div><%= @task.name %></div>
  </div>
  <div>
    <div><%= t('.label') %>：</div>
    <div><%= @task.label&.name %></div>
  </div>
  <div>
    <div><%= t('.priority') %>：</div>
    <div><%= @task.priority.name %></div>
  </div>
  <div>
    <div><%= t('.status') %>：</div>
    <div><%= @task.status.name %></div>
  </div>
  <div>
    <div><%= t('.time_limit') %>：</div>
    <div><%= @task.time_limit %></div>
  </div>
  <div>
    <div><%= t('.description') %>：</div>
    <div><%= @task.description %></div>
  </div>
</div>
