<h1 class='fw-bold mb-3'><%= t('.label_edit') %></h1>

<div class='fs-5'>
  <%= flash[:alert] if flash[:alert].present? %>
</div>

<%= render partial: 'error_message', locals: { label: @label } %>

<%= form_with(model: @label, url: { action: "update" }) do |label| %>
  <%= render partial: 'form', locals: { label: label } %>
<% end %>
