<%= stylesheet_link_tag "labels" %>

<%= flash[:notice] if flash[:notice] %>

<h1><%= t :label_list %></h1>

<p><%= link_to t(:transition_label_create), new_label_path %></p>

<table>
  <thead>
    <tr>
      <th><%= t :label %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to t(:transition_label_edit), edit_label_path(label) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
