<%= stylesheet_link_tag "labels" %>

<%= flash[:notice] if flash[:notice] %>

<h1><%= t :label_list %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :label %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to t(:call_delete), label, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
