<h1 class='fw-bold m-3'><%= t('.label_list') %></h1>

<div class='fs-5 mb-3'>
  <%= flash[:notice] if flash[:notice].present? %>
</div>

<div class='mb-3'>
  <%= link_to t('.transition_task_index'), tasks_path, class: 'btn btn-success col-3 me-2' %>
  <%= link_to t('.transition_label_create'), new_label_path, class: 'btn btn-primary col-3' %>
</div>

<table class='border-secondary table table-bordered table-dark table-striped text-center'>
  <thead class='align-middle'>
    <tr>
      <th><%= t('.label') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to t('.transition_edit'), edit_label_path(label), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to t('.delete_label'), label, method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
