<h1><%= t :label_create %></h1>

<%= render partial: 'error_message', locals: {label: @label} %>

<%= form_with(model: @label, url: {action: "create"}) do |label| %>
  <table>
    <tr>
      <th><%= t :label %></th>
      <td><%= label.text_field :name %></td>
    </tr>
  </table>

  <%= label.submit %>
<% end %>
