<table>
  <tr>
    <th><%= t('.name') %></th>
    <td><%= user.text_field :name %></td>
  </tr>
  <tr>
    <th><%= t('.password') %></th>
    <td><%= user.password_field :password %></td>
  </tr>
  <tr>
    <th><%= t('.confirm_password') %></th>
    <td><%= user.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <th><%= t('.user_type') %></th>
    <td>
      <%= user.label :admin, t('.general'), value: false %>
      <%= user.radio_button :admin, false, checked: true %>

      <%= user.label :admin, t('.admin'), value: true %>
      <%= user.radio_button :admin, true %>
    </td>
  </tr>
</table>

<%= user.submit %>
