<h1><%= t('.user_edit') %></h1>

<div class='fs-5'>
  <div><%= flash[:alert] if flash[:alert].present? %></div>
  <div><%= flash[:warning] if flash[:warning].present? %></div>
</div>

<%= render partial: 'error_message', locals: { user: @user } %>

<%= form_with(model: @user, url: { action: "update" }) do |user| %>
  <%= render partial: 'form', locals: { user: user } %>
<% end %>
