<%= flash[:alert] if flash[:alert].present? %>
<%= flash[:notice] if flash[:notice].present? %>

<h1><%= t('.user_list') %></h1>

<p><%= link_to t('.transition_task_index'), tasks_path %></p>

<p><%= link_to t('.transition_user_create'), new_user_path %></p>

<table class='table table-bordered'>
  <thead class='table-secondary'>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.number_of_tasks') %></th>
      <th><%= t('.user_type') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td class='user_names'><%= user.name %></td>
        <%= content_tag(:td, user.tasks.size, id: i)%>
        <td><%= user.admin? ? t('.admin') : t('.general') %></td>
        <td><%= link_to t('.transition_user_edit'), edit_user_path(user) %></td>
        <td><%= link_to t('.delete_label'), user, method: :delete, data: { confirm: t('.delete_confirm') } %></td>
        <td><%= link_to t('.transition_user_tasks'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
