<h1 class='fw-bold mb-3'><%= t('.user_list') %></h1>

<div class='fs-5'>
  <%= flash[:alert] if flash[:alert].present? %>
  <%= flash[:notice] if flash[:notice].present? %>
</div>

<div class='mb-3'>
  <%= link_to t('.transition_task_index'), tasks_path, class: 'btn btn-success col-3 me-2' %>
  <%= link_to t('.transition_user_create'), new_user_path, class: 'btn btn-primary col-3' %>
</div>

<table class='border-secondary table table-bordered table-dark table-striped text-center'>
  <thead class='align-middle'>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.number_of_tasks') %></th>
      <th><%= t('.user_type') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td class='user_names'><%= user.name %></td>
        <%= content_tag(:td, user.tasks.size, id: i)%>
        <td><%= user.admin? ? t('.admin') : t('.general') %></td>
        <td><%= link_to t('.transition_user_tasks'), user, class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to t('.transition_user_edit'), edit_user_path(user), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to t('.delete_label'), user, method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
