<h1><%= t('.user_list') %></h1>

<table class="table table-bordered">
  <thead class="table-secondary">
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.number_of_tasks') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.tasks.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
