<%= flash[:notice] if flash[:notice].present? %>

<h1><%= t('.user_list') %></h1>

<table class="table table-bordered">
  <thead class="table-secondary">
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.number_of_tasks') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td class='user_names'><%= user.name %></td>
        <%= content_tag(:td, user.tasks.size, id: i)%>
        <td><%= link_to t('.delete_label'), user, method: :delete, data: { confirm: t('.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
