<h1><%= t('.user_create') %></h1>

<div class='fs-5'>
  <%= flash[:alert] if flash[:alert].present? %>
</div>

<%= render partial: 'error_message', locals: { user: @user } %>

<%= form_with(model: @user, url: { action: "create" }) do |user| %>
  <%= render partial: 'form', locals: { user: user } %>
<% end %>
